# Data exploration

In [44]:
#import packages
import pandas as pd
import json

In [2]:
#read file 
dataframe = pd.read_csv("data.csv")

In [3]:
#display data
dataframe.head()

,Unnamed: 0,start,duration,channels
0,0,"Jun 30, 2022, 12:12","270,659","[{""guid"": ""0181b486-ce5d-e475-05ce-e322c41d298..."
1,1,"Jun 30, 2022, 12:11","56,081","[{""guid"": ""0181b485-d2a1-8f93-4436-7c465aa02bb..."
2,2,"Jun 30, 2022, 11:02","332,236","[{""guid"": ""0181b447-2962-5f42-4243-cc8c98faa3e..."
3,3,"Jun 28, 2022, 15:18","342,670","[{""guid"": ""0181aae4-45e3-c858-c790-b8b625f7c6c..."
4,4,"Jun 27, 2022, 12:22","635,561","[{""guid"": ""0181a51c-fb0d-3a7a-c2cf-e21ab551e5c..."

In [17]:
# check dimensions about data
dataframe.shape

(1860, 7)

In [4]:
# check data types
dataframe.dtypes

Unnamed: 0     int64
start         object
duration      object
channels      object
dtype: object

we need to pay attention about duration and start data types

In [5]:
dataframe.isnull().mean() * 100

Unnamed: 0    0.0
start         0.0
duration      0.0
channels      0.0
dtype: float64

There are not missing values

In [8]:
sum(dataframe.duplicated())

0

There are not duplicates

In [12]:
#we can split values in start field to get day, year and hour
dataframe[['Day', 'Year',"Hour"]]  = dataframe['start'].str.split(',', expand=True)

In [13]:
#display new columns
dataframe

,Unnamed: 0,start,duration,channels,Day,Year,Hour
0,0,"Jun 30, 2022, 12:12","270,659","[{""guid"": ""0181b486-ce5d-e475-05ce-e322c41d298...",Jun 30,2022,12:12
1,1,"Jun 30, 2022, 12:11","56,081","[{""guid"": ""0181b485-d2a1-8f93-4436-7c465aa02bb...",Jun 30,2022,12:11
2,2,"Jun 30, 2022, 11:02","332,236","[{""guid"": ""0181b447-2962-5f42-4243-cc8c98faa3e...",Jun 30,2022,11:02
3,3,"Jun 28, 2022, 15:18","342,670","[{""guid"": ""0181aae4-45e3-c858-c790-b8b625f7c6c...",Jun 28,2022,15:18
4,4,"Jun 27, 2022, 12:22","635,561","[{""guid"": ""0181a51c-fb0d-3a7a-c2cf-e21ab551e5c...",Jun 27,2022,12:22
...,...,...,...,...,...,...,...
1855,1855,"May 25, 2018, 08:06","225,132","[{""guid"": ""01639655-8078-a814-36ba-47aae10779d...",May 25,2018,08:06
1856,1856,"May 25, 2018, 08:01","366,863","[{""guid"": ""01639651-5ad5-4450-fdce-8447c39a09c...",May 25,2018,08:01
1857,1857,"Mar 2, 2018, 11:25","216,969","[{""guid"": ""0161e675-eac8-504a-f25e-b5b67ec0819...",Mar 2,2018,11:25
1858,1858,"Mar 2, 2018, 11:24","25,777","[{""guid"": ""0161e675-2de9-8488-ef7d-e411692b5ef...",Mar 2,2018,11:24
1859,1859,"Mar 2, 2018, 11:17","137,507","[{""guid"": ""0161e66e-538f-0bed-ae50-6d4475c5aeb...",Mar 2,2018,11:17

In [15]:
# remove "," symbol to store duration as numeric field
dataframe['duration']=dataframe['duration'].str.replace(',','')

In [16]:
# display sample about duration field
pd.to_numeric(dataframe["duration"])

0       270659
1        56081
2       332236
3       342670
4       635561
         ...
1855    225132
1856    366863
1857    216969
1858     25777
1859    137507
Name: duration, Length: 1860, dtype: int64

In [24]:
#display records quantity by day and month
dataframe['Day'].value_counts()[:20]

Feb 21    26
Mar 17    24
Mar 18    22
Nov 30    21
Nov 23    20
Nov 24    20
Dec 1     20
Oct 29    20
Oct 15    17
Nov 5     17
Mar 12    17
Jun 5     16
Mar 14    16
Nov 12    16
Mar 4     16
Jul 16    15
Jun 7     15
Dec 4     14
Mar 16    14
Nov 19    14
Name: Day, dtype: int64

In [26]:
#display records by year
dataframe['Year'].value_counts()[:3]

 2020    702
 2019    561
 2018    256
Name: Year, dtype: int64

In [61]:
dataframe['duration'] = pd.to_numeric(dataframe['duration'])

In [62]:
#get max duration 
dataframe["duration"].max()

61907867

In [63]:
#get min duration
dataframe["duration"].min()

6711

In [47]:
#count calls, we need to convert from string to array to count elements
dataframe['countChannels'] = dataframe['channels'].apply(json.loads).apply(len)

In [52]:
#count frecuency of calls
dataframe['countChannels'].value_counts()[:3]

2    1851
3       9
Name: countChannels, dtype: int64

In this case We have more frequently 2 calls for each record

In [58]:
get the amount of calls by year
dataframe.groupby(['Year'])['countChannels'].sum()

Year
 2018     517
 2019    1126
 2020    1404
 2021     442
 2022     240
Name: countChannels, dtype: int64